vscode/
#  https://www.pluralsight.com/guides/how-to-use-gitignore-file
# reference :)

.vscode
tempCodeRunnerFile.cpp
*.txt

**.exe

**input.txt
**output.txt
**test.cpp
**test1.cpp
**test2.cpp
**test3.cpp